<!DOCTYPE html>
<html lang="en">
	<head>
  	  	<meta charset="utf-8">
  	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	  	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  	  	<title>Stock Advisor</title>
  	  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   	 	<link rel="stylesheet" href="/static/css/boot.css">  	  	
		<!-- Bootstrap -->	
	</head>

	<body>
		<div class="header" style="background-color:#678d4c">
			<div class="container-fluid">      
	      	  	<a href="#" class="text-center">
	          		<div class="text-center">
			  	  		<img style="float:left;margin:15px;" src="/static/img/logo.png" height="50" width="50">
				  	  	<h1 style="color:#f1f1f1;float:left;margin-top:25px;">Stock Advisor</h1>
					</div>
	          	</a>
	        </div>
	    </div>
		
		<div class="container">
  		  	<div class="content">
    			<div class="row">
      			  	<div class="col-md-12" style="margin: 10px 0px 20px 0px" >
        				<h3><b style="color:#008000"><b>{{username}}</b> can invest in the following 3 steps:</h3>
  				  	</div>
    				<div class="selection center-block">
      				  	<div class="row">
        					<div class="col-sm-4" style="background-color: #d2d2d2">
          					  	<div class="row">
									<h4 class="text-center">
										<br>
										<a href="/investstrategy?username={{username}}" style="color:#6b6c72;" >
											Step 1: <br><br>Choose your investment strategy(ies)
										</a>
										<br><br>
										<br><input type="radio" name="Strategy_1" VALUE="Ethical Investing">Ethical Investing<br>
										<br><input type="radio" name="Strategy_2" VALUE="Growth Investing">Growth Investing<br>
										<br><input type="radio" name="Strategy_3" VALUE="Index Investing">Index Investing<br>
										<br><input type="radio" name="Strategy_4" VALUE="Quality Investing">Quality Investing<br>
										<br><input type="radio" name="Strategy_5" VALUE="Value Investing">Value Investing<br>
				                  		<br><br>
										<button style="width:60%;background-color:#a9a9a9;color:black;margin-top:3px;" type="submit" class="button button-block"/>
											Next Step
										</button>
										<br><br>
									</h4>
								</div>
        					</div>
        					<div class="col-sm-4">
          					  	<div class="row">
									<h4 class="text-center">
										<br>
										<a href="/investstock?username={{username}}" style="color:#6b6c72;">
											Step 2: <br><br>Pick the stock(s) recommended for you
										</a>
										<br><br>
										<button style="width:60%;background-color:#a9a9a9;color:black;margin-top:3px;" type="submit" class="button button-block"/>
											Next Step
										</button>
									</h4>
								</div>
        					</div>
        					<div class="col-sm-4">
          						<div class="row">
									<h4 class="text-center">
										<br>
										<a href="/addstock?username={{username}}" style="color:#6b6c72;">
											Step 3: <br><br>Assign your investment
										</a>
										<br><br>
										<button style="width:60%;background-color:#a9a9a9;color:black;margin-top:3px;" type="submit" class="button button-block"/>
											Submit
										</button>
									</h4>
								</div>
        					</div>						
      			  		</div>
  			  		</div>
				</div>
    			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    			<!-- Include all compiled plugins (below), or include individual files as needed -->
			</div>
  		</div>

		<script>
			$(window).on('resize',function() {
     	   		var docHeight = $(window).height();
     	   		var footerHeight = $('#footer').height();
     	   		var footerTop = $('#footer').position().top + footerHeight;
     	   		if (footerTop < docHeight) {
      		  		$('#footer').css('margin-top', -30 + (docHeight - footerTop) + 'px');
     	   		}
    		});
    		$(document).ready(function() {
        		$(window).trigger('resize');
    		});
		</script>

		<div id="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
  						<div>Send feedback to contact@stockengine.com</div>
  					  	<a href="#">Report Issues</a>
				  	</div>
				</div>
			</div>
		</div>

	</body>
</html>

